#telo{
    background-color:bisque;
    color: rgb(255, 72, 0);
}

#nadpis{
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    text-align: center;

}

#logo{
    opacity: 0.2;
    position: absolute;
    top: 0px;
    left: 0px;
}
